body {
  background-image: linear-gradient(
    to left,
    #5585b5,
    #53a8b6,
    #79c2d0,
    #bbe4e9
  );
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
}

.container {
  max-width: 600px;
  background: white;
  margin: 50px auto;
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-bottom: 30px;
}
.city {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  align-items: center;
}

.city:last-child {
  border: none;
}
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 42px;
  font-weight: 545;
}

.time small {
  font-size: 21px;
  line-height: 36px;
  vertical-align: middle;
}
select {
  display: block;
  padding: 12px;
  justify-content: center;
  width: 74%;
  margin-left: 13%;
  margin-right: 17%;
  border-radius: 5px;
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: floralwhite;
}
